Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [177]:
driver1 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

In [178]:
driver1.get('http://www.naukri.com/')

In [179]:
search_field_designation = driver1.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys('Data Analyst')

In [180]:
search_field_location = driver1.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location.send_keys('Bangalore')

In [181]:
search_button = driver1.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [182]:
jobs_titles = []

job = driver1.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
job

for j in job:
    jobs_titles.append(j.text)
jobs_titles[0:10]

['EY',
 'Imaginative Brains LLP',
 'Deutsche Bank',
 'Deutsche Bank',
 'Barbeque Nation',
 'Sejal Consulting Hub',
 'Flipkart',
 'METRO Cash & Carry',
 'Genpact',
 'Leading US MNC into Analytics']

In [183]:
job_roles = []

job_r = driver1.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job_r

for jj in job_r:
    job_roles.append(jj.text)
job_roles[0:10]

['EY GDS Data Analyst-Finland based project',
 'Business & Data Analyst - Alteryx (London)',
 'Data analyst / Data scientist, AVP',
 'Data analyst / Data scientist, Associate',
 'Senior Mis Data Analyst',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Senior Data Analyst',
 'Data Analyst / Business Analyst',
 'Genpact Hiring For Data Analyst',
 'data analyst/ data analytics / Business analyst- SQL/Python/SAS']

In [184]:
experience_list_ = []
experience_ = driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience_

for iii in experience_:
    exp = iii.text
    experience_list_.append(exp)
experience_list_[0:10]

['0-1 Yrs',
 '5-10 Yrs',
 '6-11 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '0-3 Yrs',
 '3-7 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '2-7 Yrs']

In [185]:
locations_list_ = []
location_ = driver1.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_[0:4]

for il in location_:
    locations_list_.append(il.text)
locations_list_[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mumbai (All Areas)',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR']

In [186]:
df_jobs = pd.DataFrame({
    'JOB ROLE' : job_roles,
    'JOB COMPANY' : jobs_titles,
    'EXPERIENCE' : experience_list_,
    'LOCATION' : locations_list_
})

df_jobs[0:10]

,JOB ROLE,JOB COMPANY,EXPERIENCE,LOCATION
0,EY GDS Data Analyst-Finland based project,EY,0-1 Yrs,Bangalore/Bengaluru
1,Business & Data Analyst - Alteryx (London),Imaginative Brains LLP,5-10 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
2,"Data analyst / Data scientist, AVP",Deutsche Bank,6-11 Yrs,Bangalore/Bengaluru
3,"Data analyst / Data scientist, Associate",Deutsche Bank,5-8 Yrs,Bangalore/Bengaluru
4,Senior Mis Data Analyst,Barbeque Nation,5-8 Yrs,"Bangalore/Bengaluru(Sarjapur), Delhi / NCR, Mu..."
5,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,Remote
6,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
7,Data Analyst / Business Analyst,METRO Cash & Carry,3-8 Yrs,Bangalore/Bengaluru
8,Genpact Hiring For Data Analyst,Genpact,2-6 Yrs,Bangalore/Bengaluru
9,data analyst/ data analytics / Business analys...,Leading US MNC into Analytics,2-7 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi /..."

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [187]:
driver2 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver2.get('http://www.naukri.com/')

In [188]:
search_field_designation1 = driver2.find_element_by_class_name("suggestor-input ")
search_field_designation1.send_keys('Data Scientist')

In [189]:
search_field_location1 = driver2.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input")
search_field_location1.send_keys('Bangalore')

In [190]:
search_button1 = driver2.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button1.click()

In [191]:
job_titles_ = []
company_names = []
locations_list = []
experience_list = []

In [192]:
job1 = driver2.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']")
job1[0:4]

for i in job1:
    title = i.text
    job_titles_.append(title)
job_titles_

['AI Technologist Vacancy',
 'Job Opening with Wipro For Data Scientist position',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist - Immediate Joiners',
 'Data Scientist- AI/ML- R&D',
 'Urgent Hiring For AI Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Science Expert - Quality & Test Engineering',
 'Applied Data Scientist / ML Senior Engineer (Python / SQL)',
 'Research Engineer: Deep Learning & Collective Intelligence',
 'Team Lead/Consultant-Data Science',
 'Team Lead/Consultant-Data Science',
 'Data Science Associate Manager',
 'Research Scientist',
 'Data Science - Lead Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [193]:
company = driver2.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company[0:2]

for i in company:
    company_names.append(i.text)
company_names

['Wipro',
 'Wipro',
 'Genpact',
 'Genpact',
 'Bristlecone',
 'EXL',
 'Ashkom Media India Private Limited',
 'UPL',
 'UPL',
 'Jacobs',
 'SAP',
 'SAP',
 'Siemens',
 'Accenture',
 'Accenture',
 'Accenture',
 'IBM',
 'Paytm',
 'IBM',
 'IBM']

In [194]:
experience = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
experience

for ii in experience:
    exp = ii.text
    experience_list.append(exp)
experience_list

['6-11 Yrs',
 '2-7 Yrs',
 '7-12 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '2-7 Yrs',
 '1-4 Yrs',
 '3-5 Yrs',
 '12-16 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '7-11 Yrs',
 '7-11 Yrs',
 '5-10 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '7-9 Yrs',
 '4-6 Yrs']

In [195]:
location = driver2.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location[0:4]

for i in location:
    locations_list.append(i.text)
locations_list

['Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Kolkata, Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Mumbai, Pune, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Bangalore/Bengaluru',
 'Bengaluru/Bangalore',
 'Bengaluru/Bangalore']

In [196]:
df_job_Scientist = pd.DataFrame({
    'job_titles' : job_titles_,
    'company_names' : company_names,
    'experience' : experience_list,
    'location' : locations_list,
})

df_job_Scientist[0:10]

,job_titles,company_names,experience,location
0,AI Technologist Vacancy,Wipro,6-11 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
1,Job Opening with Wipro For Data Scientist posi...,Wipro,2-7 Yrs,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang..."
2,Data Scientist,Genpact,7-12 Yrs,Bangalore/Bengaluru
3,Data Scientist,Genpact,5-8 Yrs,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D..."
4,Data Scientist - Immediate Joiners,Bristlecone,5-8 Yrs,"Noida, Mumbai, Pune, Bangalore/Bengaluru"
5,Data Scientist- AI/ML- R&D,EXL,2-6 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
6,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,1-4 Yrs,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
7,Data Scientist,UPL,2-7 Yrs,"Mumbai, Bangalore/Bengaluru"
8,Data Scientist,UPL,1-4 Yrs,"Bangalore/Bengaluru, Mumbai (All Areas)"
9,Data Scientist,Jacobs,3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [36]:
driver3 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver3.get('http://www.naukri.com/')

In [37]:
search_field_designation3 = driver3.find_element_by_class_name("suggestor-input ")
search_field_designation3.send_keys('Data Scientist')

In [38]:
search_button3 = driver3.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button3.click()

In [39]:
Filter1 = driver3.find_element_by_xpath("//label[@for='chk-Delhi / NCR-cityTypeGid-']/i")
Filter1.click()

In [40]:
Filter2 = driver3.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
Filter2.click()

In [41]:
job_title_ = []#title of job
company_name_ = []#title of Company
exp_= []#Experience req
salary_ = []# Salary offered
date_ = []# Date of post
loc_ = []#Location of the job

In [42]:
for i in driver3.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]:
    job_title_.append(i.text)

for i in driver3.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]:
    company_name_.append(i.text)
    
for i in driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")[:10]:
    exp_.append(i.text)

for i in driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")[:10]:
    loc_.append(i.text)        
        
for i in driver3.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi salary']")[:10]:
    salary_.append(i.text)

for i in driver3.find_elements_by_xpath("//span[@class='fleft fw500']")[:10]:
    date_.append(i.text)

In [43]:
DataScientist_JOBDelhi= pd.DataFrame({ "EXEPERIENCE_REQ": exp_, "JOB_TITLE" : job_title_ ,"COMPANY_NAME": company_name_ , 
                                           "LOCATION" : loc_,
                                           "SALARY" : salary_,
                                          "POST_DATE" : date_})

In [45]:
DataScientist_JOBDelhi.head()

,EXEPERIENCE_REQ,JOB_TITLE,COMPANY_NAME,LOCATION,SALARY,POST_DATE
0,2-7 Yrs,Job Opening with Wipro For Data Scientist posi...,Wipro,"Kolkata, Hyderabad/Secunderabad, Chennai, Bang...","4,00,000 - 6,00,000 PA.",25 DAYS AGO
1,2-5 Yrs,Data Scientist,SS Supply Chain Solutions Pvt. Ltd. (3SC),"Pune, Gurgaon/Gurugram, Bangalore/Bengaluru",Not disclosed,7 DAYS AGO
2,1-4 Yrs,Data Scientist -Machine Learning with Python,Genpact,"Noida, New Delhi, Gurgaon/Gurugram, Delhi / NC...",Not disclosed,10 DAYS AGO
3,1-6 Yrs,Data Scientist - Predictive Analytics,Confidential,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Not disclosed,5 DAYS AGO
4,3-8 Yrs,Data Scientist - Machine learning AI,Teq Analytics,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Not disclosed,27 DAYS AGO

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [48]:
driver4 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver4.get('https://www.flipkart.com/')

In [50]:
prod_ser = driver4.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
prod_ser.send_keys("sunglasses")

In [51]:
sub_button = driver4.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button.click()

In [ ]:
#Page 1 for flipkart.com I have scraped 40 data.

In [64]:
Brand = []

for i in driver4.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    Brand.append(i.text)
Brand

['SRPM',
 'Fastrack',
 'ROZZETTA CRAFT',
 'CRYSTAL CART',
 'ROYAL SON',
 'New Specs',
 'Elligator',
 'Singco India',
 'AISLIN',
 'Lee Topper',
 'AISLIN',
 'VINCENT CHASE',
 'GANSTA',
 'VINCENT CHASE',
 'GANSTA',
 'ROZZETTA CRAFT',
 'Fastrack',
 'IZAAN MART',
 'kingsunglasses',
 'CRYSTAL CART',
 'PHENOMENAL',
 'ROZZETTA CRAFT',
 'Singco India',
 'CRYSTAL CART',
 'VINCENT CHASE',
 'kingsunglasses',
 'ROYAL SON',
 'Rich Club',
 'Roadster',
 'kingsunglasses',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'kingsunglasses',
 'Silver Kartz',
 'kingsunglasses',
 'VINCENT CHASE',
 'WROGN',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'VINCENT CHASE']

In [69]:
Product_Description = []
for i in driver4.find_elements_by_xpath("//a[@class='IRpwTa']"):
    Product_Description.append(i.text)
Product_Description

['Night Vision, UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (55)',
 'UV Protection, Mirrored Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored, Gradient Rectangula...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Polarized, UV Protection Retro Square Sunglasses (Free ...',
 'by Lenskart UV Protection Aviator Sunglasses (Free Size...',
 'UV Protection Rectangular Sunglasses (55)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'Others Aviator Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Retro Square Sunglasses (50)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'Polarized Aviator Sunglasses (44)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Retro Square Sunglasses (51)']

In [71]:
Price = []
for i in driver4.find_elements_by_xpath("//div[@class='_30jeq3']"):
    Price.append(i.text)
Price

['₹207',
 '₹599',
 '₹359',
 '₹319',
 '₹359',
 '₹265',
 '₹195',
 '₹630',
 '₹387',
 '₹206',
 '₹681',
 '₹616',
 '₹279',
 '₹719',
 '₹207',
 '₹314',
 '₹1,025',
 '₹330',
 '₹269',
 '₹550',
 '₹341',
 '₹449',
 '₹630',
 '₹303',
 '₹720',
 '₹189',
 '₹359',
 '₹225',
 '₹449',
 '₹269',
 '₹683',
 '₹639',
 '₹329',
 '₹288',
 '₹214',
 '₹616',
 '₹449',
 '₹404',
 '₹359',
 '₹616']

In [73]:
Discount = []
for i in driver4.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    Discount.append(i.text)
Discount

['79% off',
 '25% off',
 '82% off',
 '78% off',
 '76% off',
 '79% off',
 '80% off',
 '78% off',
 '74% off',
 '79% off',
 '81% off',
 '69% off',
 '86% off',
 '64% off',
 '88% off',
 '84% off',
 '21% off',
 '83% off',
 '85% off',
 '73% off',
 '82% off',
 '80% off',
 '80% off',
 '76% off',
 '63% off',
 '85% off',
 '76% off',
 '71% off',
 '55% off',
 '82% off',
 '65% off',
 '68% off',
 '79% off',
 '80% off',
 '78% off',
 '69% off',
 '86% off',
 '79% off',
 '82% off',
 '69% off']

In [ ]:
#For next page 2

In [58]:
next_button = driver4.find_element_by_xpath("//a[@class='_1LKTO3']")
next_button.click()

In [ ]:
#Page 2 for flipkart.com I have scraped another 40 data.

In [65]:
for i in driver4.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    Brand.append(i.text)
len(Brand)

80

In [70]:
for i in driver4.find_elements_by_xpath("//a[@class='IRpwTa']"):
    Product_Description.append(i.text)
len(Product_Description)

80

In [72]:
for i in driver4.find_elements_by_xpath("//div[@class='_30jeq3']"):
    Price.append(i.text)
len(Price)

80

In [74]:
for i in driver4.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    Discount.append(i.text)
len(Discount)

80

In [ ]:
#Page 3 for flipkart.com I have scraped another 20 data.

In [84]:
for i in driver4.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]:
    Brand.append(i.text)
len(Brand)

100

In [85]:
for i in driver4.find_elements_by_xpath("//a[@class='IRpwTa']")[:20]:
    Product_Description.append(i.text)
len(Product_Description)

100

In [86]:
for i in driver4.find_elements_by_xpath("//div[@class='_30jeq3']")[:20]:
    Price.append(i.text)
len(Price)

100

In [87]:
for i in driver4.find_elements_by_xpath("//div[@class='_3Ay6Sb']")[:20]:
    Discount.append(i.text)
len(Discount)

100

In [92]:
Discount = [i.split('%')[0] for i in Discount]
len(Discount)

100

In [95]:
df = pd.DataFrame({
    'Brand' : Brand,
    'Product_Description' : Product_Description,
    'Price' : Price,
    'Discount' : Discount
})
df

,Brand,Product_Description,Price,Discount
0,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹207,79
1,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹599,25
2,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹359,82
3,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹319,78
4,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹359,76
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Sports Sunglasses (68)","₹1,039",58
96,PIRASO,UV Protection Butterfly Sunglasses (60),₹360,86
97,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,049",47
98,Fastrack,UV Protection Wayfarer Sunglasses (55),₹721,9
99,HRX by Hrithik Roshan,Polarized Wayfarer Sunglasses (Free Size),"₹1,007",64

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.
You will reach to the below shown webpage
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [39]:
driver5 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver5.get('https://www.flipkart.com/')

In [37]:
data_iphone = driver5.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
data_iphone.send_keys("iphone 11")

In [38]:
sub_button_ = driver5.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button_.click()

In [32]:
Rating_ = []
Review_summary = []
Full_review = []

while True:
    time.sleep(3)
    
    for i in driver5.find_elements_by_xpath("//div[@class = 'col _2wzgFH K0kLPL']/div[@class= 'row']/div"):
        Rating_.append(i.text)
        if len(Rating_) == 200:
            break 
            
    for i in driver5.find_elements_by_xpath("//div[@class= 'row']//p[@class = '_2-N8zT']"):
        Review_summary.append(i.text)
        if len(Review_summary) == 100:
            break 
            
    for i in driver5.find_elements_by_xpath("//div[@class= 't-ZTKy']//div[@class]"):
        Full_review.append(i.text.replace('\n',''))
        if len(Full_review) == 100:
            break 
        
    if len(Full_review) == 100:
        break    
                
    for i in driver5.find_elements_by_xpath("//nav[@class='yFHi8N']//a[@class='_1LKTO3']"):
        next=[i.get_attribute("href")]
    
    time.sleep(3)
        
    for n in next:
        driver5.get(n)


Rat = [] # Since Product_Description have many unwanted information am following this method to clense it.
for i in range(0,len(Rating_)):
    if i == 0 or  i/2 == i//2:
        Rat.append(Rating_[i])

In [33]:
Rat = [] # Since Product_Description have many unwanted information am following this method to clense it.
for i in range(0,len(Rating_)):
    if i == 0 or  i/2 == i//2:
        Rat.append(Rating_[i])
Rat

[]

In [34]:
len(Full_review)

100

In [35]:
i_phone11_review = pd.DataFrame({
                     "Review_summary" : Review_summary,
                     "Full review" : Full_review})

i_phone11_review

,Review_summary,Full review
0,Best phone still @25-27K,Purchased at BBD @2016 Oct. After 5months of u...
1,Absolute rubbish!,battery service very bad ..Battery not working...
2,Fabulous!,Fast performance to previous iPhone xGood came...
3,Great product,Nithing to say..just awesome
4,Good quality product,impressively Nice......One of the greatest iPh...
...,...,...
95,Absolute rubbish!,battery service very bad ..Battery not working...
96,Good phone but not for the power user,Apple's iPhone series have been known for thei...
97,Super!,This review is after 6 year of purchasing this...
98,Best phone still @25-27K,Purchased at BBD @2016 Oct. After 5months of u...
99,Absolute rubbish!,battery service very bad ..Battery not working...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [41]:
driver6 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver6.get('https://www.flipkart.com/')

In [42]:
prod_ser_ = driver6.find_element_by_xpath("//div[@class='_3OO5Xc']//input[@type = 'text']")
prod_ser_.send_keys("sneakers")

In [43]:
sub_button_ = driver6.find_element_by_xpath("//div[@class = 'col-12-12 _2oO9oE']//button[@class = 'L0Z3Pu']")
sub_button_.click()

In [44]:
Brand_ = []

for i in driver6.find_elements_by_xpath("//div[@class='_2WkVRV']"):
    Brand_.append(i.text)
Brand_

['BRUTON',
 'Roadster',
 'BRUTON',
 'URBANBOX',
 'Robbie jones',
 'Layasa',
 'BIRDE',
 'Afreet',
 'BRUTON',
 'BRUTON',
 'Labbin',
 'HOTSTYLE',
 'Magnolia',
 'D-SNEAKERZ',
 'Robbie jones',
 'HOTSTYLE',
 'KWIK FIT',
 'PUMA',
 'Robbie jones',
 'NAUTICA',
 'ASTEROID',
 'asics',
 'Robbie jones',
 'NAUTICA',
 'ADIDAS',
 'bluemaker',
 'Numenzo',
 'U.S. POLO ASSN.',
 'corsac',
 'Kraasa',
 'CLYMB',
 'U.S. POLO ASSN.',
 'PUMA',
 'aadi',
 'asics',
 'Chevit',
 'ONECENTRE',
 'Dicy',
 'HOTSTYLE',
 'ASTEROID']

In [45]:
print(len(Brand_))

40

In [65]:
Product_Description_ = []
for i in driver6.find_elements_by_xpath("//a[@class='IRpwTa']"):
    Product_Description_.append(i.text)
Product_Description_

['Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Men Blue Solid Sneakers Sneakers For Men',
 'Modern Trendy Shoes Sneakers For Men',
 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...',
 'Sneakers For Men',
 'Stylish Comfortable Lightweight, Breathable Walking Sho...',
 'Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'CR-1 Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 'Puma Smash Vulc Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'AMPLICA Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'STREET ICON M Sneakers For Men',
 'casual for men Sneakers For Men',
 'Sneakers For Men',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'fuzor B Sneakers For Men',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'STR2 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Wings Print Premium Fancy Stylish Fashion Sneakers Clas...']

In [66]:
print(len(Product_Description_))

36

In [70]:
Price_ = []
for i in driver6.find_elements_by_xpath("//div[@class='_30jeq3']"):
    Price_.append(i.text)
Price_

['₹499',
 '₹1,199',
 '₹279',
 '₹198',
 '₹399',
 '₹399',
 '₹299',
 '₹431',
 '₹199',
 '₹283',
 '₹474',
 '₹258',
 '₹374',
 '₹284',
 '₹399',
 '₹180',
 '₹397',
 '₹2,089',
 '₹399',
 '₹1,324',
 '₹474',
 '₹1,845',
 '₹399',
 '₹1,324',
 '₹2,179',
 '₹399',
 '₹569',
 '₹2,399',
 '₹499',
 '₹419',
 '₹519',
 '₹2,079',
 '₹6,319',
 '₹319',
 '₹2,199',
 '₹254',
 '₹300',
 '₹284',
 '₹247',
 '₹519']

In [71]:
len(Price_)

40

In [52]:
Discount_ = []
for i in driver6.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    Discount_.append(i.text)
Discount_

['85% off',
 '63% off',
 '78% off',
 '80% off',
 '60% off',
 '60% off',
 '70% off',
 '56% off',
 '66% off',
 '78% off',
 '52% off',
 '48% off',
 '62% off',
 '56% off',
 '60% off',
 '63% off',
 '80% off',
 '45% off',
 '60% off',
 '75% off',
 '76% off',
 '63% off',
 '60% off',
 '75% off',
 '39% off',
 '60% off',
 '81% off',
 '40% off',
 '66% off',
 '58% off',
 '65% off',
 '35% off',
 '21% off',
 '68% off',
 '42% off',
 '74% off',
 '50% off',
 '52% off',
 '75% off',
 '74% off']

In [53]:
print(len(Discount_))

40

In [57]:
for i in driver6.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
    Brand_.append(i.text)
len(Brand_)

80

In [67]:
for i in driver6.find_elements_by_xpath("//a[@class='IRpwTa']"):
    Product_Description_.append(i.text)
len(Product_Description_)

72

In [72]:
for i in driver6.find_elements_by_xpath("//div[@class='_30jeq3']"):
    Price_.append(i.text)
len(Price_)

80

In [60]:
for i in driver6.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
    Discount_.append(i.text)
len(Discount_)

80

In [61]:
for i in driver6.find_elements_by_xpath('//div[@class="_2WkVRV"]')[:20]:
    Brand_.append(i.text)
len(Brand_)

100

In [68]:
for i in driver6.find_elements_by_xpath("//a[@class='IRpwTa']")[:28]:
    Product_Description_.append(i.text)
len(Product_Description_)

100

In [73]:
for i in driver6.find_elements_by_xpath("//div[@class='_30jeq3']")[:20]:
    Price_.append(i.text)
len(Price_)

100

In [74]:
for i in driver6.find_elements_by_xpath("//div[@class='_3Ay6Sb']")[:20]:
    Discount_.append(i.text)
len(Discount_)

100

In [75]:
df_sneakers = pd.DataFrame({
    'Brand' : Brand_,
    'Product_Description' : Product_Description_,
    'Price' : Price_,
    'Discount' : Discount_
})
df_sneakers

,Brand,Product_Description,Price,Discount
0,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹499,85% off
1,Roadster,Men Blue Solid Sneakers Sneakers For Men,"₹1,199",63% off
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹279,78% off
3,URBANBOX,Casual Sneakers Green Shoes For Men And Boys S...,₹198,80% off
4,Robbie jones,Sneakers For Men,₹399,60% off
...,...,...,...,...
95,HOTSTYLE,casual for men Sneakers For Men,₹180,63% off
96,KWIK FIT,Sneakers For Men,₹397,80% off
97,PUMA,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,"₹2,089",45% off
98,Robbie jones,Shark-41 Sneakers For Men,₹399,60% off
99,NAUTICA,Sneakers For Men,"₹1,324",75% off

Q7: Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image
And then scrape First 100 shoes data you get. 
The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.
Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [78]:
driver7 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver7.get('https://www.myntra.com/shoes')

In [85]:
Filter1_ = driver7.find_elements_by_xpath("//ul[@class ='price-list']//label[@class ='common-customCheckbox vertical-filters-label']/div[@class = 'common-checkboxIndicator']")
Filter1_[1].click()

In [89]:
Filter2_ = driver7.find_element_by_xpath("//li[@class ='colour-listItem']//label[@class ='common-customCheckbox']")
Filter2_.click()

In [91]:
Brand_Shoe = []

for i in driver7.find_elements_by_xpath("//h3[@class='product-brand']"):
    Brand_Shoe.append(i.text)
Brand_Shoe

['Puma',
 'UNDER ARMOUR',
 'Puma',
 'Puma',
 'Skechers',
 'UNDER ARMOUR',
 'Nike',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'Nike',
 'Puma',
 'Nike',
 'UNDER ARMOUR',
 'UNDER ARMOUR',
 'Skechers',
 'Hush Puppies',
 'Reebok',
 'UNDER ARMOUR',
 'Puma',
 'Hush Puppies',
 'Hush Puppies',
 'Geox',
 'Skechers',
 'UNDER ARMOUR',
 'ADIDAS',
 'Geox',
 'Puma',
 'Geox',
 'ADIDAS',
 'Geox',
 'TOMS',
 'Columbia',
 'Hush Puppies',
 'Hush Puppies',
 'Vans',
 'Puma',
 'ASICS',
 'Geox',
 'Geox',
 'Geox',
 'Geox',
 'Tommy Hilfiger',
 'Saint G',
 'ADIDAS',
 'Geox',
 'Geox',
 'Geox',
 'ADIDAS',
 'Geox']

In [95]:
Product_Desc = []

for i in driver7.find_elements_by_xpath("//h4[@class='product-product']"):
    Product_Desc.append(i.text)
Product_Desc

['Men Running Shoes',
 'Men UA Charged Breeze Training',
 'Men M Nitro Running Shoess',
 'Electrify Nitro Running Shoes',
 'Men Max Cushioning Running',
 'Men Charged Rouge 3 Run Shoes',
 'Women Pegasus 39 Running Shoes',
 'Men Velocity Nitro 2 Running',
 'Women Free Metcon 4 Training',
 'Men UA Charged Vantage 2 Run',
 'Women React MR 3 Running Shoes',
 'Eternity Nitro Running Shoes',
 'Women React Escape Running',
 'Men UA TriBase Reign4 Training',
 'Men Charged Breeze Running',
 'Men Woven Design Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Nanoflex TR Training Shoes',
 'Women Charged Breeze Running',
 'Men Velocity Nitro Running',
 'Men Textured Leather Sneakers',
 'Men Formal Derbys',
 'Men Leather Loafers',
 'Men Textured Sneakers',
 'W omen TriBase Reign 4 Running',
 'Men Solar Glide 4 ST Running',
 'Men Leather Sneakers',
 'Women Running Sports Shoes',
 'Men Textured Leather Driving Shoes',
 'Women Supernova Running Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Alpargata Slip-On Sneakers',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Solid Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Men Colourblocked Sneakers',
 'Women Liberate NITRO Running',
 'Men Sports Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Driving Shoes',
 'Men Textured Leather Slip-On Sneakers',
 'Men Textured Leather Driving Shoes',
 'Men Textured Loafers',
 'Women Open Toe Flats',
 'Women Sports Shoes',
 'Men Perforations Sneakers',
 'Men Leather Sneakers',
 'Men Leather Sneakers',
 'Women KarlieKlossX9000 Running',
 'Men Leather Sneakers']

In [97]:
Shoe_Price = []

for i in driver7.find_elements_by_xpath("//div[@class='product-price']"):
    Shoe_Price.append(i.text)
Shoe_Price

['Rs. 9999',
 'Rs. 8999',
 'Rs. 12999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 10495',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7696Rs. 10995(30% OFF)',
 'Rs. 7999',
 'Rs. 10495',
 'Rs. 12999',
 'Rs. 8046Rs. 11495(30% OFF)',
 'Rs. 11999',
 'Rs. 8999',
 'Rs. 7499',
 'Rs. 7199Rs. 8999(Rs. 1800 OFF)',
 'Rs. 7999',
 'Rs. 8999',
 'Rs. 7199Rs. 11999(40% OFF)',
 'Rs. 7199Rs. 7999(10% OFF)',
 'Rs. 7999Rs. 9999(Rs. 2000 OFF)',
 'Rs. 9341Rs. 10990(15% OFF)',
 'Rs. 7999',
 'Rs. 11999',
 'Rs. 10499Rs. 14999(30% OFF)',
 'Rs. 12990',
 'Rs. 7499Rs. 14999(50% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 9999',
 'Rs. 9441Rs. 10490(Rs. 1049 OFF)',
 'Rs. 7999',
 'Rs. 11699Rs. 12999(Rs. 1300 OFF)',
 'Rs. 7999Rs. 9999(Rs. 2000 OFF)',
 'Rs. 7999Rs. 9999(Rs. 2000 OFF)',
 'Rs. 8249Rs. 10999(Rs. 2750 OFF)',
 'Rs. 9999',
 'Rs. 11899Rs. 13999(15% OFF)',
 'Rs. 9891Rs. 10990(10% OFF)',
 'Rs. 8491Rs. 9990(Rs. 1499 OFF)',
 'Rs. 8991Rs. 9990(10% OFF)',
 'Rs. 9341Rs. 10990(15% OFF)',
 'Rs. 8999',
 'Rs. 8075Rs. 8500(5% OFF)',
 'Rs. 9899Rs. 17999(Rs. 8100 OFF)',
 'Rs. 13990',
 'Rs. 10990',
 'Rs. 12990',
 'Rs. 13999',
 'Rs. 13990']

In [99]:
df_Shoe = pd.DataFrame({
    'Brand_Shoe' : Brand_Shoe,
    'Product_Description' : Product_Desc,
    'Price' : Shoe_Price
})
df_Shoe[:20]

,Brand_Shoe,Product_Description,Price
0,Puma,Men Running Shoes,Rs. 9999
1,UNDER ARMOUR,Men UA Charged Breeze Training,Rs. 8999
2,Puma,Men M Nitro Running Shoess,Rs. 12999
3,Puma,Electrify Nitro Running Shoes,Rs. 9999
4,Skechers,Men Max Cushioning Running,Rs. 8999
5,UNDER ARMOUR,Men Charged Rouge 3 Run Shoes,Rs. 7999
6,Nike,Women Pegasus 39 Running Shoes,Rs. 10495
7,Puma,Men Velocity Nitro 2 Running,Rs. 7699Rs. 10999(30% OFF)
8,Nike,Women Free Metcon 4 Training,Rs. 7696Rs. 10995(30% OFF)
9,UNDER ARMOUR,Men UA Charged Vantage 2 Run,Rs. 7999
10,Nike,Women React MR 3 Running Shoes,Rs. 10495
11,Puma,Eternity Nitro Running Shoes,Rs. 12999
12,Nike,Women React Escape Running,Rs. 8046Rs. 11495(30% OFF)
13,UNDER ARMOUR,Men UA TriBase Reign4 Training,Rs. 11999
14,UNDER ARMOUR,Men Charged Breeze Running,Rs. 8999
15,Skechers,Men Woven Design Sneakers,Rs. 7499
16,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7199Rs. 8999(Rs. 1800 OFF)
17,Reebok,Men Nanoflex TR Training Shoes,Rs. 7999
18,UNDER ARMOUR,Women Charged Breeze Running,Rs. 8999
19,Puma,Men Velocity Nitro Running,Rs. 7199Rs. 11999(40% OFF)

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [100]:
driver8 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver8.get('https://www.amazon.in/')

In [104]:
prod_ser_1 = driver8.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
prod_ser_1.send_keys("Laptop")

In [105]:
sub_button_1= driver8.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
sub_button_1.click()

In [106]:
Filter_3 = driver8.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/div")
Filter_3.click()

In [114]:
Title = []

for i in driver8.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']"):
    Title.append(i.text)
Title

['ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'LG Gram 17 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4/ USC -C x 2 / 1.35 kg, Black/ 3Yr Warranty] 17Z90P',
 'ASUS Vivobook X515JA-EJ701WS Intel Core I7-1065G7 15.6 inches FHD 512 GB SSD /16 GB/Windows 11/Office 2019/1Y (Transparent Silver, 2 kg)',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU',
 'Samsung Galaxy Book2 Intel 12th Gen core i7 39.6cm (15.6") FHD LED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit Keyboard/Fingerprint Reader/Silver/1.55Kg), NP750XED-KC2IN',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Indie Black/1.8 Kg) K513EA-L712WS',
 'LG Gram 14 Intel Evo 11th Gen  i7 Thin & Light Laptop 2K+ IPS 16:10 Display (16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4/ USC -C x 2 / 0.999Kg, Black/ 3Yr Warranty] 14Z90P',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /3months Xbox Game Pass/Graphite Grey/1.5Kg), 82HS018XIN',
 'ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2.8K OLED 16:10 90Hz, Intel Core Evo i7-1260P 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Blue/1.39 kg), UX3402ZA-KM731WS',
 'HP Pavilion 11th Gen Intel Core i7 15.6 inches FHD Gaming Laptop (16GB RAM/512GB SSD/144Hz/4GB NVIDIA GeForce GTX 1650 Graphics/Windows 10 Home/MS Office/Shadow Black/2.28 Kg), 15-dk2075tx',
 'Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD IPS 400Nits Thin & Light Laptop(16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/Fingerprint Reader/2Yr Warranty/Black/878gms),4ZR1F38024',
 'ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 Kg), FX507ZE-HN038W',
 'HP Victus 11th Gen Intel Core i7-11800H 16.1-inch(40.9 cm) FHD Gaming Laptop (16GB RAM/512GB SSD/144 Hz/300 nits/7 ms Response time/GeForce RTX 3060 6GB Graphics/Backlit KB/Win 11/MSO), 16-d0361TX',
 'Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen 15.6 inches FHD IPS 250Nits Gaming Laptop (8GB/512GB SSD/Windows 10 Home/NVIDIA GTX 1650 4GB GDDR6 Graphics/120Hz/Onyx Black/2.2Kg), 81Y4019EIN',
 'ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cms) FHD OLED, Intel Core Evo i7-12700H 12th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Black/1.8 kg) K3502ZA-L702WS',
 'HP Pavilion 15 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 15.6 inch(39.6cm) FHD,IPS/Intel Iris Xe Graphics/B&O/Win 11/Alexa/Backlit KB/FPR/MSO 2021/1.75Kg, 15-EG2039TU, Natural Silver',
 '(Renewed) Samsung Galaxy Book2 360 Intel 12th Gen i7 EvoTM 33.78cm (13.3") AMOLED Thin & Light Laptop (16 GB/512 GB SSD/Windows 11/MS Office/Backlit KB/Fingerprint Sensor/Graphite/1.16Kg), NP730QED-KA1IN',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10 Professional/Mineral Grey/1.26 Kg), 20V9A038IH']

In [115]:
len(Title)

24

In [113]:
Rate = []

for i in driver8.find_elements_by_xpath("//span[@class='a-price-whole']"):
    Rate.append(i.text)
Rate

['57,490',
 '86,990',
 '85,990',
 '88,990',
 '57,300',
 '74,490',
 '84,990',
 '79,990',
 '86,990',
 '86,990',
 '79,990',
 '88,499',
 '81,490',
 '1,04,990',
 '79,990',
 '82,090',
 '1,09,990',
 '1,20,062',
 '73,594',
 '94,990',
 '89,685',
 '90,092',
 '40,500',
 '89,990']

In [116]:
df_Amazon = pd.DataFrame(
{
    'Title' : Title,
    'Rate' : Rate
})
df_Amazon

                                                Title      Rate
0   ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...    57,490
1   HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...    86,990
2   ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...    85,990
3   LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...    88,990
4   ASUS Vivobook X515JA-EJ701WS Intel Core I7-106...    57,300
5   Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...    74,490
6   HP Pavilion x360 11th Gen Intel Core i7 14 inc...    84,990
7   Samsung Galaxy Book2 Intel 12th Gen core i7 39...    79,990
8   ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...    86,990
9   Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....    86,990
10  ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...    79,990
11  LG Gram 14 Intel Evo 11th Gen  i7 Thin & Light...    88,499
12  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    81,490
13  ASUS Zenbook 14 OLED (2022), 14" (35.56 cms) 2...  1,04,990
14  HP Pavilion 11th Gen Intel Core i7 15.6 inches...    79,990
15  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...    82,090
16  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...  1,09,990
17  HP Victus 11th Gen Intel Core i7-11800H 16.1-i...  1,20,062
18  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    73,594
19  ASUS Vivobook S15 OLED (2022), 15.6" (39.62 cm...    94,990
20  HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...    89,685
21  (Renewed) Samsung Galaxy Book2 360 Intel 12th ...    90,092
22  (Renewed) Dell Latitude E7470 Intel Core i7 6t...    40,500
23  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...    89,990

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [117]:
driver9 = webdriver.Chrome('chromedriver.exe')
time.sleep(2)

driver9.get('https://www.ambitionbox.com/')

In [121]:
salary_comparison1 = driver9.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
salary_comparison1.send_keys("Data Scientist")

In [122]:
click_button1 = driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
click_button1.click()

In [123]:
location_ = driver9.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
location_.click()

In [125]:
COMPANY_NAME = []

for i in driver9.find_elements_by_xpath("//p[@class='company body-medium']"):
    COMPANY_NAME.append(i.text)
COMPANY_NAME

['GENPACT India Private Limited',
 'Optum Global Solutions (India) Private Limited',
 'GENPACT India Private Limited',
 'Hcl Technologies Limited',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Paytm',
 'Om Software Internet Solutions Private Limited',
 'Paytm',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Ashkom Media India Private Limited']

In [133]:
No_of_days_posted = []

for i in driver9.find_elements_by_xpath("//span[@class='body-small-l']"):
    No_of_days_posted.append(i.text)
No_of_days_posted = No_of_days_posted[0:20:2]
No_of_days_posted

['4d ago',
 '12d ago',
 '11d ago',
 '14d ago',
 '25d ago',
 '7d ago',
 '15d ago',
 '25d ago',
 '12d ago',
 '11d ago']

In [134]:
Rating_of_the_company = []

for i in driver9.find_elements_by_xpath("//span[@class='body-small']"):
    Rating_of_the_company.append(i.text)
Rating_of_the_company

['4.0', '4.2', '4.0', '3.9', '3.9', '3.7', '4.5', '3.7', '3.3', '3.5']

In [135]:
df_Jobs_Delhi_DS = pd.DataFrame(
{
    'COMPANY_NAME' : COMPANY_NAME,
    'No_of_days_posted_when_job_posted' : No_of_days_posted,
    'Rating_of_the_company' : Rating_of_the_company
})

df_Jobs_Delhi_DS

,COMPANY_NAME,No_of_days_posted_when_job_posted,Rating_of_the_company
0,GENPACT India Private Limited,4d ago,4.0
1,Optum Global Solutions (India) Private Limited,12d ago,4.2
2,GENPACT India Private Limited,11d ago,4.0
3,Hcl Technologies Limited,14d ago,3.9
4,EXL Services.com ( I ) Pvt. Ltd.,25d ago,3.9
5,Paytm,7d ago,3.7
6,Om Software Internet Solutions Private Limited,15d ago,4.5
7,Paytm,25d ago,3.7
8,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,12d ago,3.3
9,Ashkom Media India Private Limited,11d ago,3.5

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [159]:
driver = webdriver.Chrome(r"C:\Users\User\Desktop\Data Science\Internship_28\chromedriver.exe")
driver

In [160]:
driver.get('http://www.ambitionbox.com/')

In [163]:
salary_comparison = driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
salary_comparison.send_keys("Data Scientist")

In [164]:
click_button = driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
click_button.click()

In [167]:
company_name = []

In [168]:
company = driver.find_elements_by_xpath("//div[@class='name']")
company

[<selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="3e49fe92-3259-4b76-b47d-319c179a54b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="71c8ebce-1302-4fd0-bb49-05a9320096ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="5e1f0739-cbbb-46d8-a3b8-86c47630015d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="3726b2f8-b278-44d6-b9ca-8069ad174d4f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="09a0b344-510c-43f1-bdfc-4785991594c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="a826ba27-4686-4f94-8e35-bffc820d39d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="18c6d21a-2af3-42b6-a48d-9a8c995704cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="50cd439e-9a80-47a2-8638-ca1d110073b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="2d5cfd41-a278-415d-81e7-c63bea22bb9a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6dcf816ca72547743437074d3035a20", element="2c8bc779-a8d4-4d36-a1b3-208f031930c2")>]

In [169]:
for i in company:
    c = i.text
    company_name.append(c)
company_name

['Walmart\nbased on 12 salaries',
 'Ab Inbev\nbased on 33 salaries',
 'American Express\nbased on 10 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 33 salaries',
 'Reliance Jio\nbased on 21 salaries',
 'Fractal Analytics\nbased on 83 salaries',
 'Tiger Analytics\nbased on 50 salaries',
 'UnitedHealth\nbased on 57 salaries',
 'EXL Service\nbased on 10 salaries']

In [170]:
company_name = [i.split('\n')[0] for i in company_name]

In [171]:
company_name

['Walmart',
 'Ab Inbev',
 'American Express',
 'ZS',
 'Optum',
 'Reliance Jio',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'EXL Service']

In [172]:
average_salary = []

avg = driver.find_elements_by_xpath("//p[@class='averageCtc']")
avg

for a in avg:
    average_salary.append(a.text)
average_salary

['₹ 30.2L',
 '₹ 20.6L',
 '₹ 19.9L',
 '₹ 16.7L',
 '₹ 16.1L',
 '₹ 15.7L',
 '₹ 15.4L',
 '₹ 14.8L',
 '₹ 14.0L',
 '₹ 13.3L']

In [173]:
min_salary = []

minimum = driver.find_elements_by_xpath("//div[@class='salary-values']")
minimum

for m in minimum:
    min_salary.append(m.text)
min_salary

min_salary = [m.split('\n')[0] for m in min_salary]
min_salary

['₹ 25.0L',
 '₹ 15.0L',
 '₹ 14.1L',
 '₹ 11.0L',
 '₹ 11.0L',
 '₹ 5.6L',
 '₹ 10.0L',
 '₹ 9.0L',
 '₹ 8.3L',
 '₹ 8.9L']

In [174]:
max_salary = []

maximum = driver.find_elements_by_xpath("//div[@class='salary-values']")
maximum

for ma in maximum:
    max_salary.append(ma.text)
max_salary

max_salary = [ma.split('\n')[1] for ma in max_salary]
max_salary

['₹ 36.0L',
 '₹ 25.5L',
 '₹ 25.0L',
 '₹ 22.0L',
 '₹ 22.6L',
 '₹ 26.2L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 21.1L',
 '₹ 21.0L']

In [175]:
experience = []

exp = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp

for e in exp:
    experience.append(e.text)
experience

experience = [e.split('\n')[2] for e in experience]
experience

['3 yrs exp',
 '3-4 yrs exp',
 '4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '3-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '2-4 yrs exp',
 '4 yrs exp']

In [176]:
df_Salaries = pd.DataFrame({
    'Company Name' : company_name,
    'Minimum Salary' : min_salary,
    'Maximum Salary' : max_salary,
    'Average Salary' : average_salary,
    'Experience' : experience
})
df_Salaries

        Company Name Minimum Salary Maximum Salary Average Salary   Experience
0            Walmart        ₹ 25.0L        ₹ 36.0L        ₹ 30.2L    3 yrs exp
1           Ab Inbev        ₹ 15.0L        ₹ 25.5L        ₹ 20.6L  3-4 yrs exp
2   American Express        ₹ 14.1L        ₹ 25.0L        ₹ 19.9L    4 yrs exp
3                 ZS        ₹ 11.0L        ₹ 22.0L        ₹ 16.7L    2 yrs exp
4              Optum        ₹ 11.0L        ₹ 22.6L        ₹ 16.1L  3-4 yrs exp
5       Reliance Jio         ₹ 5.6L        ₹ 26.2L        ₹ 15.7L  3-4 yrs exp
6  Fractal Analytics        ₹ 10.0L        ₹ 22.0L        ₹ 15.4L  2-4 yrs exp
7    Tiger Analytics         ₹ 9.0L        ₹ 20.0L        ₹ 14.8L  2-4 yrs exp
8       UnitedHealth         ₹ 8.3L        ₹ 21.1L        ₹ 14.0L  2-4 yrs exp
9        EXL Service         ₹ 8.9L        ₹ 21.0L        ₹ 13.3L    4 yrs exp